/** Layout */
$headerHeight: 100px;

/** Fonts */
$hack: 'Inconsolata', 'Roboto Mono', 'Hack', monospace;
$body: 'DIN Next LT Pro', sans-serif;

/** Colours */
$purple: #A367FC;
$blue: #27a2da;
$dark: #4D4D4D;
$dark-blue: #333f51;
$green: #50fa7b;

$primary: $dark-blue;
$highlight: $green;