section.posts {
    background-color: white;
    padding: 24px 0;
}

    .posts__post {
        padding: 24px 0;
    }

        .posts__post__title {
            a {
                transition: .2s ease all;
                color: $primary;
                &:hover {
                    color: lighten($primary, 20%);
                }
            }
            
            .fa {
                font-size: .75em;
            }
        }

        .posts__post__date {
            color: $highlight;
            font-size: 1em;
            margin-bottom: 24px;
        }

        .posts__post__content {
            p {
                color: $dark;
                margin-bottom: 24px;
            }
            blockquote {
                padding: 0;
                margin: 0;
                padding-left: 16px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-left: 5px solid $primary;
                margin-bottom: 24px;
                p {
                    color: lighten($dark, 20%);
                    margin-bottom: 0;
                }
            }
        }