footer.footer {
    background-color: $primary;
    box-shadow: inset 0 2px 3px rgba(black,.4);
    padding: 10px;
    text-align: center;
    p {
        color: white;
        font-size: .875em;
        a {
            color: white;
            font-weight: bold;
        }
    }
}